<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GOOOOD</title>

    <link rel="stylesheet" href="./lao1.css">
</head>
<body>
    <div class="body-container default-border">
        <!-- 헤더 -->
        <header class="default-border">
                <h1><img src=K.png>sports</h1>
                <span class="hv">뉴스</span>
                <span class="hv">야구</span>
                <span class="hv">해외야구</span>
                <span class="hv">해외축구</span>
                <span class="hv">E스포츠</span>
        </header>


        <!-- 바디 세션 -->
        <section>

            <nav class="default-border">
                    <div class="sports-name" style="padding: 10px; box-sizing: border-box;">
                        <img src="./KBO.jpg" width="100%" height="100%">
                    </div>
                    <div class="sports-lev" style="padding: 10px; box-sizing: border-box;">
                        <img src="./연습용 순위표.jpg" width="100%" height="100%">
                    </div>
                </nav>

            <div class="default-border">
                <div class="sports-name" style="padding: 10px; box-sizing: border-box;">
                    <img src="./KBO.jpg" width="100%" height="100%">
                </div>
                <div class="sports-lev" style="padding: 10px; box-sizing: border-box;">
                    <img src="./연습용 순위표.jpg" width="100%" height="100%">
                </div>
            </div>

            <aside class="default-border">
                <div class="sports-name" style="padding: 10px; box-sizing: border-box;">
                    <img src="./KBO.jpg" width="100%" height="100%">
                </div>
                <div class="sports-lev" style="padding: 10px; box-sizing: border-box;">
                    <img src="./연습용 순위표.jpg" width="100%" height="100%">
                </div>
             </aside>

        </section>
        <!-- 푸터 -->
        <footer class="default-border">푸터</footer>




    </div>
</body>
</html>