<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K Sports(KBS아님)</title>

    <link rel="stylesheet" href="./ksports.css">

</head>
<body>
<div class="container default-border">
    <!-- 헤더 -->
    <header>
        <!-- 스포츠 마크, 로그인 부분 width15% 나머진 70% -->
        <span class="header-side">G-Sports</span>
        <span class="header-main">뉴스 야구 해외야구 해외축구 E스포츠</span>
        <span class="header-side">로그인</span>
    </header>

    <!-- 세션 -->
    <section>세션</section>

    <!-- 푸터 -->
    <footer>푸터</footer>
</div>
</body>
</html>