<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K Sports(KBS아님)</title>

    <link rel="stylesheet" href="./ksports.css">

</head>
<body>
    <!-- 헤더 시작 -->
    <div class="body-container">
        <header>
            <div class="header-Ksports">
                <h1>K-Sports</h1>
            </div>

            <div class="header-Tabs">
                <h3 class="hv">뉴스</h3>
                <h3 class="hv">야구</h3>
                <h3 class="hv">해외야구</h3>
                <h3 class="hv">해외축구</h3>
                <h3 class="hv">E스포츠</h3>
            </div>

            <div class="header-login hv">
                <h3>로그인</h3>
            </div>
        </header>
    </div>
<!-- 헤더 종료 / 세션 시작 -->
    <div>
        <section>

            <div>
                메인 포토
            </div>

            <div>
                <aside>
                    뉴스
                </aside>
            </div>
            
            <div>
                <nav>
                    서브 포토
                </nav>
            </div>

        </section>
    </div>










    </div>
</body>
</html>