<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K Sports(KBS아님)</title>

    <link rel="stylesheet" href="./ksports.css">

</head>
<body>
<div class="container default-border">
    <!-- 헤더 -->
    <header>
        <!-- 스포츠 마크, 로그인 부분 width15% 나머진 70% -->
        <span class="header-side">G-Sports</span>
            <span class="header-main">
                <p class="hv">뉴스</p>
                <p class="hv">국내야구</p>
                <p class="hv">해외야구</p>
                <p class="hv">해외축구</p>
                <p class="hv">E스포츠</p>
            </span>

            <span class="header-side">
                <a href="#" style="text-decoration: none;">
                    로그인
                </a>
            </span>
    </header>

    <!-- 세션 -->
    <section>
<!-- 메인 시작 -->
        <div class="section-main">
            <h3>
                <a href="https://sports.news.naver.com/news?oid=311&aid=0001613991" style="text-decoration: none;">
                    한화이글스, SSG 상대로 7:0 완승, 다이너마이트 타선과 케냐의 호투
                </a>
            </h3>
            <img src="https://imgnews.pstatic.net/image/311/2023/07/09/0001613991_001_20230709201503552.jpg?type=w647"
            style="width: 100%; height: 80%;">
        </div>
<!-- 메인 끝 -->

        <div class="section-sub">
<!-- 뉴스 태그 시작 -->
            <div class="section-news">
                <h2>뉴스</h2>
                <span>>
                    <a href="https://sports.news.naver.com/news?oid=003&aid=0011962352" style="text-decoration: none;">
                    7이닝 무실점 한화, SSG꺾고 2연패 탈출</a>
                </span><br><br>

                <span>>
                    <a href="https://sports.news.naver.com/news?oid=055&aid=0001071833" style="text-decoration: none;">
                    두산, 5년만에 8연승 쾌속 질주...</a>
                </span><br><br>

                <span>>
                    <a href="https://sports.news.naver.com/news?oid=076&aid=0004029556" style="text-decoration: none;">
                    1주일도 안됐는데, 안방 불안만 떨친게 아니다.<br>&nbsp;&nbsp; KIA 안방마님 '대박'</a>
                </span><br><br>

                <span>>
                    <a href= "https://sports.news.naver.com/news?oid=082&aid=0001221202" style="text-decoration: none;">
                    '움직이면 죽는다..' 롯데 강철어깨 손성빈, 도루 저지율100%</a>
                </span><br><br>

                <span>>
                    <a href="https://sports.news.naver.com/news?oid=088&aid=0000824160" style="text-decoration: none;">
                    '삼성, NC 연파하며 2연승.' 일요일의 삼성은 지지않는다.</a>
                </span><br><br>
                
                <span>>
                    <a href="https://sports.news.naver.com/news?oid=477&aid=0000439458" style="text-decoration: none;">
                    "너희가 주인공이 돼라." FA 유강남은 어느새 멘토가 됐다.</a>
                </span><br><br>
            </div>
<!-- 뉴스 태그 끝 -->
<!-- 포토 태그 시작 -->
            <div>
                <h3>서브 포토</h3><br>
                    <div class="section-subphoto">
                        <!-- 서브 포토1 -->
                        <div class="subphoto1">
                            <img src="./롯데 승리.jpg" style="width: 100%; height: 100%;">
                        </div>
                        <!-- 서브 포토2 -->
                        <div class="subphoto2">
                            <img src="./이정후.jpg" style="width: 100%; height: 100%;">
                        </div>
                        <!-- 서브 포토3 -->
                        <div class="subphoto3">
                            <img src="./채은성.jpg" style="width: 100%; height: 100%;">
                        </div>
                        
                    </div>
            </div>
<!-- 포토 태그 끝 -->
            
        </div>

    </section>
<!-- 세션 끝 -->

    <!-- 푸터 -->
    <footer>푸터</footer>
</div>
</body>
</html>