/* body전체 적용 되는 속성
body {
    background: url(./imgsrc/상근이.jpg) no-repeat 300px 450px fixed;

} */

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: burlywood;
}


.blue {
    color: blue;
}
/* 글 시작되는 방향 */
.direction {
    direction: rtl;
}
/* 텍스트간 거리 */
.dLS {
    letter-spacing:  19px;
}
/* 들여쓰기 */
.indent {
    text-indent: 40px;
}
/* 데코레이션기능 overline(under),line-through, none */
.deco {
    text-decoration: line-through;
}
/* text transform 속성으로 글자 상태변환 text-transform: uppercase(대문자),lower(소문자),capitalize(첫글자만 대문자)  */
.txtct {
    text-transform: capitalize;
}
.txtup {
    text-transform: uppercase;
}
.txtlw {
    text-transform: lowercase;
}

.shadow {
    text-shadow: 4px 2px darkblue;
}

.smallCaps {
    font-variant: small-caps;
}

.normalCaps {
    font-variant: normal;
}

/* 링크를 버튼 형식으로 만들어보기 */
 

.linkbutton {
    background-color: #FFA500;
    color: maroon;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .linkbutton:hover,
  .linkbutton:active {
    background-color: #FF4500;
  }

.list_style {
    /* 원형 */
    /* list-style-type: circle; */
    /* 숫자 */
    /* list-style-type: decimal; */
    /* 0숫자 */
    list-style-type: decimal-leading-zero;
}

.FontPR {
    font-family: 'HANAMDAUM';
    text-align: center;
}

table {
    border-collapse: separate;
}

th, td{
    padding: 10px;
    border-bottom: 2px solid orangered;
    border-right: 2px solid orangered;
    
}
/* td, th에 hover 기능 */
td:hover {background-color: grey;}
th:hover {background-color: grey;}

/* tr에서 n번째 줄마다 원하는 효과 부여 홀수는 odd, 짝수는 even*/
tr:nth-child(odd) { background-color: #F3F3F3; }

/* 이미지 스프라이트 연습용 */
.up, .down, .right, .left {
    background: url("./img_image_sprites.png")
}

.up{
    width: 21px;
    height: 20px;
}

.down{
    width: 21px;
    height: 20px;
    background-position: -21px 0;
}

.right{
    width: 21px;
    height: 20px;
    background-position: -42px 0;
}

.left{
    width: 21px;
    height: 20px;
    background-position: -65px 0;
}